.sw-promotion-v2-conditions {
  .sw-select-selection-list {
    width: calc(100% - 60px);
  }

  .sw-select {
    .sw-select__selection-indicators.is--select-all {
      right: 46px;
      z-index: 1;
    }
  }
}
